/*Подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    src: url('../fonts/Roboto/Roboto-Light.ttf') format('ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Roboto';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('ttf');*/
/*}*/

@font-face {
    font-family: 'Pulsar';
    font-style: normal;
    font-weight: 400;
    src: local('Pulsar Regular'), local('Pulsar-Regular'),
    url('../fonts/PulsarOriginalRegular/PulsarOriginalRegular.woff') format('woff'),
    url('../fonts/PulsarOriginalRegular/PulsarOriginalRegular.woff2') format('woff2'),
    url('../fonts/PulsarOriginalRegular/PulsarOriginalRegular.ttf') format('ttf');
}

@font-face {
    font-family: 'Aire Exterior';
    font-style: normal;
    font-weight: 400;
    src: local('Aire Exterior'), local('Aire-Exterior'),
    url('../fonts/AireExterior/AireExterior.woff') format('woff'),
    url('../fonts/AireExterior/AireExterior.ttf') format('ttf');
}

/*----------Анимация----------*/
@keyframes move {
    0% {
        bottom: 51px;
    }
    50% {
        bottom: 70px;
    }
    100% {
        bottom: 51px;
    }
}

/*----------Общие стили----------*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #141C24;
    color: #FFF;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    margin: 0 57px;
}

.title {
    font-family: 'Aire Exterior', sans-serif;
    font-size: 39px;
    font-weight: 400;
}

.fa-brands {
    font-size: 40px;
    color: #ABABAB;
    transition: all .3s ease;
}

.fa-brands:hover {
    color: #57D6FF;
}

/*----------Секция header----------*/
header {
    margin: 45px 0 90px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    color: #57D6FF;
    font-size: 24px;
    font-family: 'Pulsar', sans-serif;
    padding-left: 17px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.nav-link {
    color: #ABABAB;
    line-height: 180%;
    transition: all .3s ease;
    font-weight: 300;
}

.nav-link:hover,
.nav-link-active {
    color: #FFF;
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
    border-bottom: 1px solid #00C5FF;
}
/*----------Секция header----------*/

/*----------Секция menu-mobile----------*/
.menu-btn {
    overflow-x: hidden;

    display: none;
    position: absolute;
    content: '';
    bottom: 40px;
    right: 23px;
    width: 52px;
    height: 20px;
    z-index: 20;
    background: linear-gradient(to bottom, #EAE5E5 25%, transparent 26%, transparent 74%, #EAE5E5 75%);
}

.active {
    position: fixed;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, transparent 45%, #EAE5E5 46%, #EAE5E5 55%, transparent 56%),
    linear-gradient(-45deg, transparent 45%, #EAE5E5 46%, #EAE5E5 55%, transparent 56%);
}

/*.menu-btn-close {*/
/*    position: absolute;*/
/*    content: '';*/
/*    bottom: 40px;*/
/*    right: 23px;*/
/*    width: 52px;*/
/*    height: 20px;*/
/*    z-index: 10;*/
/*}*/

/*.menu-btn span {*/
/*    display: none;*/
/*}*/

/*.menu-btn-close span {*/
/*    display: none;*/
/*}*/

.menu-mobile {
    display: none;
    transform: translateX(150%);
    transition: transform .3s ease;
}

.menu-mobile.open {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    background-color: #141C24;
    width: 100%;
    height: 100vh;
    z-index: 30;
    padding: 35px 30px 160px;
    transform: translateX(0%);
}

.icons {
    display: flex;
    width: 100%;
    gap: 24px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #FFF;
    padding-bottom: 24px;
}
/*----------Секция menu-mobile----------*/

/*----------Секция upgrade----------*/
.upgrade-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/stalker.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #57D6FF;
    color: #FFF;
    text-align: center;
    padding: 280px 50px 290px;
    box-shadow: 0 0 29px 15px rgba(87, 214, 255, 0.25);
    position: relative;
    z-index: 10;
}

.upgrade-content:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border: 0 solid #000;
    background: rgba(0, 0, 0, 0.40);
    filter: blur(23px);
    z-index: 0;
}

.logo-mobile {
    display: none;
}

.upgrade-title {
    font-size: 48px;
}

.upgrade-text {
    font-weight: 500;
}

.upgrade-text,
.upgrade-title {
    position: relative;
}

.upgrade-title {
    font-size: 48px;
}

.upgrade-link {
    background-color: #FFF;
    width: 226px;
    height: 61px;
    margin-top: 97px;
    position: relative;
    margin-right: 25px;
    transition: all .3s ease;
}

.upgrade-link:after {
    position: absolute;
    content: '';
    top: 0;
    right: -25px;
    width: 0;
    height: 0;
    border-bottom: 25px solid #FFF;
    border-right: 25px solid transparent;
    transition: all .3s ease;
}

.upgrade-link:before {
    position: absolute;
    content: '';
    top: 25px;
    right: -25px;
    width: 25px;
    height: 36px;
    background-color: #FFF;
    transition: all .3s ease;
}

.upgrade-link {
    display: block;
    color: #000;
    padding: 19px 89px;
    font-family: 'Pulsar', sans-serif;
    font-size: 24px;
}

.upgrade-link:hover,
.upgrade-link:hover:before {
    background-color: #00C5FF;
}

.upgrade-link:hover:after {
    border-bottom: 25px solid #00C5FF;
}

.upgrade-line {
    position: absolute;
    content: '';
    bottom: 51px;
    left: 50%;
    width: 1px;
    height: 132px;
    padding: 0 50px;
    transform: translate(-50%);
}

.upgrade-line:hover {
    animation: move 1.5s linear infinite;
}

.upgrade-line span {
    display: block;
    width: 1px;
    height: 132px;
    background-color: #c2c2c2;
}
/*----------Секция upgrade----------*/









